interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://nominatim.openstreetmap.org/search?q=Heidelberg%2C+Germany&format=json&accept-language=en&polygon_text=1
  response:
    body:
      string: "[{\"place_id\":113756538,\"licence\":\"Data \xA9 OpenStreetMap contributors,
        ODbL 1.0. http://osm.org/copyright\",\"osm_type\":\"relation\",\"osm_id\":285864,\"lat\":\"49.4093582\",\"lon\":\"8.6947240\",\"class\":\"boundary\",\"type\":\"administrative\",\"place_rank\":12,\"importance\":0.7072552694765449,\"addresstype\":\"city\",\"name\":\"Heidelberg\",\"display_name\":\"Heidelberg,
        Baden-W\xFCrttemberg, Germany\",\"boundingbox\":[\"49.3520029\",\"49.4596927\",\"8.5731788\",\"8.7939863\"],\"geotext\":\"POLYGON((8.5731788
        49.4236,8.5732444 49.4232662,8.5735169 49.4217463,8.5736023 49.4210286,8.5736296
        49.4207657,8.5736183 49.4204779,8.5735754 49.4202082,8.5734868 49.4198518,8.5732535
        49.4191025,8.5732802 49.4186341,8.5732621 49.4184604,8.5732441 49.4182388,8.5732329
        49.4180263,8.5732105 49.4175624,8.5732061 49.4172173,8.5732227 49.4169019,8.5732881
        49.416518,8.5734303 49.4157628,8.5736221 49.415734,8.5739799 49.4147233,8.5740981
        49.4144215,8.574[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://nominatim.openstreetmap.org/search?q=Mannheim%2C+Germany&format=json&accept-language=en&polygon_text=1
  response:
    body:
      string: "[{\"place_id\":411427419,\"licence\":\"Data \xA9 OpenStreetMap contributors,
        ODbL 1.0. http://osm.org/copyright\",\"osm_type\":\"relation\",\"osm_id\":62691,\"lat\":\"49.4892913\",\"lon\":\"8.4673098\",\"class\":\"boundary\",\"type\":\"administrative\",\"place_rank\":12,\"importa[...]
[...]
