NEPTUNE_PROJECT_API_TOKEN=
NEPTUNE_PROJECT_ID=

# Required for training (use 'debug' for trials, and 'sync' or 'async' for real runs)
NEPTUNE_TRAIN_MODE=

# Required for the SentinelHub image store
SENTINELHUB_API_ID=
SENTINELHUB_API_SECRET=

# Required for the MinIO image store
MINIO_HOST=
MINIO_PORT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET=
MINIO_SECURE=

# For serving the FastAPI for inference, defaults to 1
LULC_UVICORN_WORKERS=

# Optional
LOG_LEVEL=
MODEL_VERSION= # Name/Version of the model to use from Neptune e.g. CA-LULC-21. Will use latest staging version if not specified.
