cache/**
__pycache__/
**/.ipynb_checkpoints/**
outputs/
.tiff
.tif
.env
.venv

.pytest_cache
**/lightning_logs
**/ohsome_log

.idea/**
.vscode/**
**/.neptune/**
.ruff_cache
.coverage
coverage.xml

playground.py
